/*
    style sheet for the spud counter.
*/

body {
    max-width : 750px;
    margin : auto;
    font-family : sans-serif;
    background : whitesmoke;
}

section {
    border : 2px solid darkblue;
    border-radius : 5px;
    margin-top : 10px;
    margin-bottom : 10px;
    margin-left : 5px;
    margin-right : 5px;
    padding : 10px;
    border-top-width : 25px;
    background : floralwhite;
}

#back {
    text-align: left;
    font-size: 0.9rem;
    margin-left: 20px;
}

p {
    text-align: center;
    font-size: 1.2rem;
}

#spudtimer {
    font-weight: 900;
    font-size : 3rem;
}

@media (prefers-color-scheme: dark) {
    body {
        color: floralwhite;
        background: black;
    }
    section {
        background: #111;
        border: none;
    }
    a {
        color: #ccc;
    }
}

@media screen and (min-width: 400px) {
    #spudtimer {
        font-size: 5rem;
    }
    p {
        font-size: 1.4rem;
    }
}
