body {
    font-family : sans-serif;
    background : linear-gradient(45deg,#f0fcff, #f4f8fb);
    background-attachment: fixed;
    padding-left : 2px;
    padding-right : 2px;
    margin-left : auto;
    margin-right : auto;
}
/*
    These apply to all the top-level boxes.
*/

.formal {
    font-family : Inter, -apple-system, BlinkMacSystemFont, Linux Libertine, serif;
    color: white;
}

.emphbox, .fatemphbox {
    background: floralwhite;    
    box-shadow : 0 1px 1px rgba(0,0,0,0.3);
    padding-left: 5px;
    padding-right: 5px;
    border : 5px solid darkblue;
    border-radius : 5px;
}

.fatemphbox {
    border-left-width : 0;
    border-right-width : 0;
}

.fatemphbox.formal {
    /*! background: linear-gradient(-31deg,#1f1c4aaa,#2d1964aa); */    
    border : 5px solid gold;
    background: linear-gradient(-10deg,#190d24f0,#1f1c4af0);
}

.formal .mealname, .formal .mealdate {
    font-variant: small-caps;
}

.emphbox {
    border-width : 2px;
}

#noscript {
    color : red;
    display: block;
    margin : auto;
    padding: 10px;
    border : 5px solid red;
    background : floralwhite;
    border-radius: 5px;
    border-left-width: 1px;
    border-right-width: 1px;
}

h3 {
    padding-left : 10px;
    margin : auto;
}

.formal h3 {
    text-align: center;
    padding: 0;
}

.titleimg {
    max-height: 100px;
    width: 100%;
    height: auto;
}

#bottombox {
    display : flex;
    flex-direction : row;
    flex-wrap : wrap-reverse;
    justify-content : space-between;
    align-items : flex-start;
    width : 100%;
}

#disclaimer {
    /*font-style : italic; */
    padding :10px;
}

#dateandcal {
    padding : 0;
}

#datenav {
    display : grid;
    grid-template-columns : repeat(auto-fit, minmax(110px, 1fr));
    align-items : stretch;
    justify-items : center;
    grid-auto-rows: 50px;
    /*
    row-gap : 2px;
    column-gap : 2px;
    background: darkblue;
    */
    /*
    padding-top: 0;
    padding-bottom : 0;
    */
}

#calterm {
    text-align : center;
}

#calendar {
    border-radius: 0;
    border-top: 2px solid darkblue;
    padding: 10px;
    margin: 0;
}

#showcalendar{
    grid-row: 2/3;
    grid-column: 1 / span 2;
}

#mtcontainer:not(.hide) {
  display: grid;
  background: darkblue;
  justify-items : center;
  padding: 0;

  align-items : stretch;
  grid-auto-rows: 75px;
  column-gap : 2px;
  grid-column-gap: 2px;
  grid-row-gap : 2px;
  row-gap: 2px;
}

/*
.nicebutton:not(.hide) {
    display : block;
}
*/
/* The button has all manner of stuff done to it so that it can be
   themed but still be really clearly a button.
*/
.nicebutton {
    background : floralwhite;
    width : 100%;
    border-width : 0;
    padding : 0;
    /*
    border-right : 2px solid darkblue;
    border-left : 2px solid darkblue;
    border-top-width : 0;
    border-bottom-width : 0;
    */
    color : inherit;
    font-family : inherit;
    font-size : 1.1em;
}

.nicebutton:hover{
    background:lightyellow;
}

.nicebutton:focus {
    background:lightyellow;
    outline: 2px solid gold;
    outline-offset: -2px;
}

.nicebutton:active {
    background:aliceblue;
}

.nicebutton.selected {
    border-left : 5px solid darkblue;
    /*border-right : 5px solid darkblue;*/
    padding-right : 5px;
    background : aliceblue;
}

.nicebutton:disabled {
    background: lightgrey;
    color:grey;
}

@media screen and (min-width:400px) {
    #showcalendar{
        grid-row: revert;
        grid-column: revert;
    }
}

@media screen and (min-width:312px) {
    /* horiz arrangement only if the screen can fit all 3 buttons. */
    #mtcontainer {
        grid-template-columns : repeat(auto-fit, minmax(100px, 1fr));
        align-items : stretch;
        grid-auto-rows: 75px;
    }
    /* wide brunch*/
    #showbrunch {
        grid-column: 1 / span 2;
    }

    .nicebutton.selected {
        background : floralwhite;
        border : 0;
        padding : 0;
        border-bottom: 5px solid darkblue;
        padding-top: 5px;
    }
    .nicebutton:hover{
        border : 0;
        padding :0;
        border-bottom: 2px solid darkblue;
        padding-top: 2px;
        background: floralwhite;
    }
    .nicebutton:focus{
        outline: 0;
        border:0;
        padding:0;
        background:aliceblue;
        border-bottom: 2px solid darkblue;
        padding-top: 2px;
    }
}

section {
    border-radius : 5px;
    overflow : hidden;
    margin-top : 10px;
    margin-bottom : 10px;
}
/*
article, #mtcontainer, #dateandcal {
    box-shadow : 0 0 2px lightgrey;
}
*/
.mealdate {
    text-align : center;
    margin: auto auto;
}

#formal-switch-container {
    display: flex;
    height: 50px;
    padding: 0;
}

#formal-switch-container.hide {
    display: none;
}

.formal .mealdate {
    margin-bottom: 30px;
    border-bottom: 1px solid gold;
    padding-bottom: 20px;
}

.formal abbr {
    font-style: italic;
    color: gold;
}

.menu.formal section {
    text-align: center;
    margin-bottom: 20px;
}

.formal h2, .formal h3 {
    font-weight: 300;
    letter-spacing: .2em;
}

.formal h2 {
    font-size: 2em;   
}


.itemlist {
	border-width: 2px;
	border-style: solid;
}
.mains h3 {
    /*background : linear-gradient(175deg,#FF7700,#FFCC00);*/
    background: #ff4444;
}

.mains {
    border-color: #ff4444;
    background: #ffeded;
}

.desserts h3 {
    background : #da7f45;
}
.desserts {
    border-color: #da7f45;
    background: #ffeed6;
}

.sides h3 {
    background : #ffC944;
}

.sides {
    border-color: #FFc944;
    background: #fff0cc;
}

.salads h3 {
    background : #56f047;
}
.salads {
    border-color: #56f047;
    background: #ecfbd0;
}

.soup h3 {
    background : #c39070;
}
.soup {
    border-color: #c39070;
    background: #fdf5ce;
}

.potato h3 {
	background: #ff7720;
}
.potato {
	border-color: #ff7720;
	background: #ffefe5;
}

.special h3 {
    background : #fcff04;
}

.special {
    background : #ffe800;
    border-color: #fcff04;
    box-shadow: 0 0 30px #ffe800;
}

.mealname {
    width : 100%;
    text-align: center;
}

li {
    margin-top : 10px;
    margin-bottom : 10px;
}

ul {
    padding-left: 1.5em;
    padding-right: 10px;
    padding-bottom : 10px;
    margin : auto;
}

#about {
    font-size : smaller;
    text-align : right;
}

abbr {
	font-weight: bold;
	font-size: small;
	text-decoration: none;
	color: #00008bbf;
}

/* formal-specific stuff */
.formal .or {
    font-size: smaller;
    font-style: italic;
    color: gold;
    margin-top: 0;
    margin-bottom: 0;
}

.formal .option1 {
    margin-bottom: 5px;
}

.formal .option2 {
    margin-top: 5px;
}

.formal p {
    margin: 20px;
}

@media screen and (min-width: 500px) {
    body {
        width : 80%;
        min-width : 500px;
        max-width : 1000px;
    }
    ul {
        padding-left : revert;
    }
    .mealname {
        margin-left : 0;
    }
    .emphbox, .fatemphbox {
        padding-left: 10px;
        padding-right: 10px;
        border-width : 2px;
    }

    #disclaimer {
        border-width : 2px;
    }
    h1 {
        text-align: center;
    }
    #noscript {
        border-width: 2px;
    }
}

.hide {
    display : none;
}

/*
    styles for the calendar.
*/

.calcontainer{
    border: 2px solid darkblue;
    border-radius: 5px;
    background: darkblue;
    display : grid;
    grid-template-columns : repeat(7, 1fr);/*repeat(auto-fit, minmax(100px, 1fr));*/
    column-gap : 2px;
    overflow: auto;
}

.calheader {
    border-bottom: inherit;
    align-self: center;
    background: floralwhite;
    font-weight: bold;
    text-align: center;
}

/* Every day within the calendar is a calday.
 * The days that are 'unavailable' have no menu.
 * A day may be disabled either because it is already selected or
 * because it has no menu.
 */

/*
.calweek ~ .calweek {
    border-top-width: 0;
}
*/

.calday {
    background: floralwhite;
    border: 0;
    /*border-radius : 5px;*/
    font-family : inherit;
    font-size : inherit;
    color : inherit;
    padding-bottom: 10px;
    padding-top: 10px;
}

.calweekend {
    background: lemonchiffon;
}

.calday:hover {
    background: aliceblue;
}

.calday:focus {
    outline: 2px solid gold;
    outline-offset: -2px;
    background: lightyellow;
}

.calday:active {
    background: lightyellow;
}

.calday:disabled {
    /*border-style: dashed;*/
    background: aliceblue;
    /*border-width: 2px;*/
    /*border-color: darkblue;*/
    color: midnightblue;
}

.caltoday {
    background: lightsalmon;
}

.caltoday:hover {
    background: bisque;
}

.caltoday:disabled {
    background: bisque;
    outline: 2px solid orange;
    outline-offset : -2px;
    color: saddlebrown;
}

.calunavailable:disabled {
    background : lightgrey;
    /*border-color: grey;*/
    color: grey;
}

/* Only appears on search page but it doesn't really matter if I
 * include it here */
#searchbox {
  width: 100%;
  font-size: 16pt;
  font-weight: bold;
  font-family: inherit;
  background: floralwhite;
  border: 2px solid darkblue;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}

/* Dark theme! */
.dark {
	display: none
}
@media (prefers-color-scheme: dark) {
   .dark {
	   display: revert;
   }
   .light {
	   display: none;
   }
	a {
		color: #eee;
	}
   body {
   	background: #111;
	color: whitesmoke;
   } 

   abbr {
	color: floralwhite;
   }
   .emphbox, .fatemphbox {
	background: #222;
	border: none;
	overflow: auto;
   }

   #searchbox {
	background: #222;
	border: 2px solid #CCC;
	color: whitesmoke;
   }

   #noscript {
	background: inherit;
   }

   #calendar {
	border-color: #777;
   }
   #mtcontainer:not(.hide) {
	background: #444;
   }
   .nicebutton {
	background: #222;
	color: inherit;
   }
   .nicebutton:disabled {
	background: #111;
	color:grey;
   	font-style: italic;
   }
   .nicebutton.selected {
	background: #222;
	border-color: #777;
   }
   
   .nicebutton:hover {
	background: #333;
	border-color: #777;
   }
   .nicebutton:active, .nicebutton:focus {
	background: #333;
    	outline: 2px solid gold;
    	outline-offset: -2px;
	border: none;
   }

   .itemlist {
	background: inherit;
   }
   
   .itemlist h3 {
	background: inherit;
	padding-top: 5px;
   }
	.potato h3 {
		color: #ff7720;
	}
   
	.mains h3 {
	    color: #ff4444;
   	}

	.sides h3 {
	   color : gold;
	}

	.salads h3 {
	    border-bottom : 2px solid limegreen;
	     color : limegreen;
	}

	.desserts h3 {
	    color : chocolate;
	}

	.salads h3 {
	    border-bottom : #56f047;
	}
	.salads {
	    border: 2px solid #56f047;
	}

	.soup h3 {
	    color : #c39070;
	}
	.soup {
	    border : 2px solid #c39070;
	}

	.special h3 {
	    color : #fcff04;
	    text-shadow: 0 0 10px #fcff04;
	}

	.special {
	    border: 2px solid #fcff04;
	    box-shadow: 0 0 30px #ffe800;
	}

	/* calendar */

	.calcontainer {
		border-color: #777;
		background: #777;
	}

	.calday {
		background: #222;
	}
	.calweekend, .calheader {
		background: #333;
	}
	.calday:hover {
		background: #444;
	}
	.calday:focus {
		background: #333;
	}
	.calday:disabled {
		background: #555;
		color: gold; 	
	}
	.calunavailable:disabled {
		background: #111;
		color: grey;
	}
}

/* so people can print off the menu without it looking like a webpage (not that
 * anybody is likely to do so, but for the sake of completeness...) */

@media print {
    body {
	font-size: 12pt;
    }
    #titleimg {
	 height: 1.5cm;
    }
    .fatemphbox {
        border: 0;
        box-shadow: none;
    }
    
    #formal-link {
        display: none;
    }
     
    #dateandcal, #mtcontainer, #formal-toggle-container {
        display: none !important;
    }

    #h3 {
        background: inherit !important;
    }
    #about-links {
        display: none; 
    }
}

svg.buttonarrow {
	padding-top: 5px;
}

svg.buttonarrow path {
	fill: currentColor;
}
